body {
  background-color: black;
  text-align: center;
  font-family: Verdana;
}

h1 {
  color: white;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 42px;
  font-weight: 300px;
  color: white;
}

h3 {
  font-size: 21px;
  color: gray;
}

#right-h3 {
  text-align: right;
}

a {
  color: Aquamarine;
  font-size: 20px;

}
